[build]
builder = "nixpacks"

[deploy]
startCommand = "python nba.py"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3

[variables]
MCP_TRANSPORT = "http"
